.tmp/
.env
.env.*
credentials.json
token.json
__pycache__/
*.pyc
.next/
node_modules/
dist/

.vercel
supabase/authorization.txt
directives/*
execution/*
.agents/*
public/intro.mp4
uat-revisi-tld-16-mei-2026.md